@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    
}

h1 {
    font-size:50px;
    line-height: 64px;
    color: black;

}

h2 {
    font-size:46px;
    line-height: 54px;
    color: black;
}


h4 {
    font-size:20px;
    color: black;
}


h6 {
    font-weight: 700;
    font-size:12px;

}

p {
    font-size:16px;
    margin: 15px 0 20px 0;
    color: gray;
}

.section-p1 {               /* spacing class */
    padding: 40px 80px;
}

.section-m1 {               /* margin class */
    margin: 40px 0;


}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;

}

body {
    width: 100%;

}


#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #aba48d;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}



 /*padding is used to put spaces in between list of texts*/

#navbar li{
    list-style: none;               
    padding: 0 20px;   
    position: relative;


}       
   
/* styling the texts itself under li "a" which is text */
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;

}

/* styling hover text color*/
#navbar li a:hover,
#navbar li a.active {
    color: rgb(219, 211, 211)


}
/* underlines for other hovers, "after" is when we start using underline; position relative makes it for home only*/
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(219, 211, 211);
    position: absolute;
    bottom: -4px;
    left: 20px;
}



#hero {
    /* background-image: url("images/model1.png"); */
    background-color: whitesmoke;
    height: 100vh;
    width: 100%;
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 90% 100%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    
}

#hero h2{
    padding-bottom: 15px;

}

#hero h1{
    color: maroon;

    
}

#hero button {
    background-image: url("images/button.png");
    background-color: transparent;
    color: black;
    border: 0;
    padding: 14px 20px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: whitesmoke;
    
}

#feature .fe-box img{
    text-align: center;
    width: 240px;
    height: 210px;
    padding: 25px px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    margin: 15px 0;
    /* cursor: pointer; */
    box-shadow: 10px 10px 54px #FFFFFF;

}


#product1 {
    text-align: center;

}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;

}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;

}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);




}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .desc{
    text-align: start; /* align all texts from product area*/
    padding: 10px 0;


}

#product1 .pro .desc span{ /* change color of span tag text*/
    color: gray;
    font-size: 12px;
    padding: 7px;

} 

#product1 .pro .desc h5{
    padding: 7px;
    color: black;
    font-size: 14px;

}

#product1 .pro .desc h4{
    padding-top: 7px;
    padding: 7px;
    font-size: 15px;
    font-weight: 7px;
    color: black;

}

#product1 .pro .cart{
    width: 30px;
    height: 30px;
    line-height: 40px;
    border-radius: 50px;
    background-color: white;
    font-weight: 500;
    color: black;
    border: 1px solid whitesmoke;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #aba48d;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: 20% 30%;


}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;

}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: gainsboro;
    
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

#newsletter button{
    width: fit-content;
    background: black;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

#newsletter .form{
    display: flex;
    width: 40%;

}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #777777;
    
}

footer .column{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: 185px;
    height: 240px;

}

footer .column h3{
    position: relative;
    top: -55px;
}

footer .column h4{
    position: relative;
    top: -75px;
}



footer .column2 h4{
    position: relative;
    top: -20px;
}

footer .column2{
    position: relative;
    left: -130px;
    top: -25px;
}

footer .column img{
    margin-bottom: 50px;
    padding-bottom: 23px;
    object-fit: fill;
    width: 90px;
    height: 110px;
    position: relative;
    top: -13px;
    
}

footer h4{
    font-size: 25px;
    padding: 10px;
    color: #A09F9F;
    
}

footer h3{
    
    margin: 0 0 8px 0;
    padding-bottom: 0px;
    color: white;
    font-size: 17px;
    margin: 0 0 8px 0;
    
}

footer h3{
    font-size: 17px;
    margin: 0 0 8px 0;
    
}

#last .copyright img{
    
    float: inline-end;
    height: 20px;
    width: 135px;
    justify-content: space-between;
    
}



#last .copyright{
    
    width: 100%;
    height: 60px;
   
    background-color: #5B5B5B;
    text-align: center;
    color: gray;
    overflow: hidden;
    
}

.copyright h5{
    position:relative; 
    left:-668px; 
    bottom: -10px;
    
}

.copyright img{
    position: relative;
    left: -80px; 
}

#page-header {
    background-image: url("/images/art.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;

}

#page-header h2{
    color: white;
}


#pagination {
    text-align: center;

}

#pagination a {
    text-decoration: none;
    background-color: gray;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;

}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
    size: 15px;
   
    
}

#prodetails {
    display: flex;
    margin-top: 20px;


}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;


}

.small-img-group {
    display: flex;
    justify-content: space-between;

}

.small-img-column {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;

}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;


}

#prodetails .single-pro-details h2 {
    font-size: 26px;

}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;

}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;

}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details select:focus {
    outline: none;
}


#prodetails .single-pro-details button {
    background: black;
    color: white;

}

#prodetails .single-pro-details span {
    line-height: 25px;

}

/* Privacy Policy styling */

#policy1 {
    position: relative;
    left: 25px;
    color: black;
    justify-content: center;
    margin: 40px;
    
    

}

/* Form Details */



#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}

#form-details form input,
#form-details form textarea{
    width: 60%;
    padding: 12px 40px;
    outline: none;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 5px;
    

}

#form-details form button{
    background-color: black;
    color: #FFFFFF;

}

#form-details {
    display: flex;
    justify-content: center;
    position: relative;
    top: -45px;
    margin: 0px;
    padding: 80px;
    border: 2px solid white;
    background-color: white;

    

}

/* CART */

#cart{
    overflow-x: auto;
}


#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;
}


#cart table td:nth-child(1){
    width: 100px;
    text-align: center;


}


#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
    

}

#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
    

}


#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
    

}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;

}


#cart table thead{
    border: 1px solid gray;
    border-left: none;
    border-right: none;

}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;


}

#cart table tbody td{
    font-size: 13px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

#coupon{
    width: 50%;
    margin-bottom: 30px;
    

}

#coupon h3,
#subtotal h3{
    padding-bottom: 15px;

}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid gray;
    
}

#coupon button,
#subtotal button{
    background-color: black;
    color: white;
    padding: 12px 20px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid gray;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;

}

#subtotal table td{
    width: 50%;
    border: 1px solid gray;
    padding: 10px;
    font-size: 13px;
}

.nav .fas.fa-times, 
.fas.fa-bars{
    display: none;

}

/* For smaller screen navigation bar */ 

@media (max-width: 799px) {    
    .section-p1 {
        padding: 40px 40px;
    }

    .nav .fas.fa-times, 
    .fas.fa-bars{
    display: block;
    font-size: 25px;

    }


    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -260px;
        height: 100vh;
        width: 210px;
        background-color: brown;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: right 0.5s;
    }


    .nav .fas.fa-times{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;

    }

    #navbar li{
        margin-bottom: 25px;
    }

    .navigation .fas{
        display: block;
        font-size: 25px;

    }

   

   #hero {
    height: 70vh;
    background-position: top 30% right 30%;
    padding: 0 80px;
    
    }

    #feature {
        justify-content: center;
        
    }

    #feature .fe-box img {
        margin: 15px 15px;
        
        
    }

    #product1 .pro-container{
        justify-content: center;
    }

    #product1 .pro{
        margin: 15px;
    }

    #newsletter .form {
        width: 70%;
    }


    footer .column{
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        left: 0px;
        height: 240px;
        
    }
    
    footer .column h3{
        position: relative;
        top: -55px;
        
        
    }
    
    footer .column h4{
        position: relative;
        top: -75px;
    }
    
    
    
    footer .column2 h4{
        position: relative;
        top: 20px;
        left: 185px;
    }
    
    footer .column2{
        position: relative;
        left: -185px;
    }
    
    footer .column img{
        margin-bottom: 50px;
        padding-bottom: 23px;
        object-fit: fill;
        width: 90px;
        height: 110px;
        position: relative;
        top: -13px;
        
    }

    footer .column2 h3 {
        position: relative;
        bottom: -40px;
        left: 185px;
    }
    
    footer h4{
        font-size: 25px;
        padding: 10px;
        color: #A09F9F;
    
    }
    
    footer h3{
        
        margin: 0 0 8px 0;
        padding-bottom: 0px;
        color: white;
        font-size: 17px;
        margin: 0 0 8px 0;
        
    
    }
    
    footer h3{
        font-size: 17px;
        margin: 0 0 8px 0;

    }


    #last .copyright h5{
        position: relative;
        left: -245px;
 
    }

    #last .copyright img{
        position: relative;
        left: -50px;
    
    }

}    


/* Responsive Display */

@media (max-width: 1024px) {    
    .section-p1 {
        padding: 40px 40px;
    }


   #hero {
    
    height: 70vh;
    background-position: top 30% right 30%;
    padding: 0 80px;
    
    }

    #feature {
        justify-content: center;
        
    }

    #feature .fe-box img {
        margin: 15px 15px;
        
        
    }

    #product1 .pro-container{
        justify-content: center;
    }

    #product1 .pro{
        margin: 15px;
    }

    #newsletter .form {
        width: 70%;
    }


    footer .column{
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        left: 0px;
        height: 240px;
        
    }
    
    footer .column h3{
        position: relative;
        top: -55px;
        
        
    }
    
    footer .column h4{
        position: relative;
        top: -75px;
    }
    
    
    
    footer .column2 h4{
        position: relative;
        top: 20px;
        left: 145px;
    }
    
    footer .column2{
        position: relative;
        left: -185px;

        
    }
    
    footer .column img{
        margin-bottom: 50px;
        padding-bottom: 23px;
        object-fit: fill;
        width: 90px;
        height: 110px;
        position: relative;
        top: -13px;
        
    }

    footer .column2 h3 {
        position: relative;
        bottom: -40px;
        left: 145px;
    }
    
    footer h4{
        font-size: 25px;
        padding: 10px;
        color: #A09F9F;
    
    }
    
    footer h3{
        
        margin: 0 0 8px 0;
        padding-bottom: 0px;
        color: white;
        font-size: 17px;
        margin: 0 0 8px 0;
        
    
    }
    
    footer h3{
        font-size: 17px;
        margin: 0 0 8px 0;

    }


    #last .copyright h5{
        position: relative;
        left: -245px;
 
    }

    #last .copyright img{
        position: relative;
        left: -50px;
    
    }

}    

/* Responsive display for other display sizes */
@media (max-width: 1280px) {    
    .section-p1 {
        padding: 40px 40px;
    }


   #hero {
    
    height: 70vh;
    background-position: top 30% right 30%;
    padding: 0 80px;
    
    }

    #feature {
        justify-content: center;
        
    }

    #feature .fe-box img {
        margin: 15px 15px;
        
        
    }

    #product1 .pro-container{
        justify-content: center;
    }

    #product1 .pro{
        margin: 15px;
    }

    #newsletter .form {
        width: 70%;
    }


    footer .column{
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        left: 0px;
        height: 240px;
        
    }
    
    footer .column h3{
        position: relative;
        top: -55px;
        
        
    }
    
    footer .column h4{
        position: relative;
        top: -75px;
    }
    
    
    
    footer .column2 h4{
        position: relative;
        top: 20px;
        left: 145px;
    }
    
    footer .column2{
        position: relative;
        left: -185px;
        

        
    }
    
    footer .column img{
        margin-bottom: 50px;
        padding-bottom: 23px;
        object-fit: fill;
        width: 90px;
        height: 110px;
        position: relative;
        top: -13px;
        
    }

    footer .column2 h3 {
        position: relative;
        bottom: -40px;
        left: 145px;
    }
    
    footer h4{
        font-size: 25px;
        padding: 10px;
        color: #A09F9F;
    
    }
    
    footer h3{
        
        margin: 0 0 8px 0;
        padding-bottom: 0px;
        color: white;
        font-size: 17px;
        margin: 0 0 8px 0;
        
    
    }
    
    footer h3{
        font-size: 17px;
        margin: 0 0 8px 0;

    }


    #last .copyright h5{
        position: relative;
        left: -245px;
 
    }

    #last .copyright img{
        position: relative;
        left: -50px;
    
    }

}    


/* Responsive display for other display sizes */ 


@media (max-width: 415px) {
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
        
    
    }

    #navbar li a{
        position: relative;
        right: 305px;    
        font-size: 7px;    
    
    }

    #navbar li a.active::after{
        content: "";
        width: 55%;
        height: 2px;
        background: rgb(219, 211, 211);
        position: absolute;
        bottom: -4px;
        left: -0.5px;
        
    }

   
    h1 {
        font-size: 38px;

    }

    h2 {
        font-size: 32px;

    }

    #hero {
        padding: 0 20px;
        background-position: 55%;

    }


    #feature {
        justify-content: space-between;
    }

    #feature .fe-box {
        width: 140px;
    
        margin: 0 25px ;

    }


    #product1 .pro {
        width: 100%;
    }
    
    
    #newsletter {
        padding: 40px 20px;

    }

    #newsletter .form{
        width: 100%;
    }

    #last.copyright{
        text-align: start;
    }

    footer .column{
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        left: 0px;
        height: 240px;
        
    }
    
    footer .column h3{
        position: relative;
        top: -55px;
        
        
    }
    
    footer .column h4{
        position: relative;
        top: -75px;
    }
    
    
    
    footer .column2 h4{
        position: relative;
        top: 20px;
        left: 185px;
    }
    
    footer .column2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        left: -185px;
        height: 240px;
    }
    
    footer .column img{
        margin-bottom: 50px;
        padding-bottom: 23px;
        object-fit: fill;
        width: 90px;
        height: 110px;
        position: relative;
        top: -13px;
        
    }

    footer .column2 h3 {
        position: relative;
        bottom: -40px;
        left: 185px;
        font-size: 17px;
        margin: 0 0 8px 0;
    
        
    }
    
    footer h4{
        font-size: 25px;
        padding: 10px;
        color: #A09F9F;
    
    }
    
    footer h3{
        
        margin: 0 0 8px 0;
        padding-bottom: 0px;
        color: white;
        font-size: 17px;
        margin: 0 0 8px 0;
        
    }
    
    footer h3{
        font-size: 17px;
        margin: 0 0 8px 0;
    
    }

    #prodetails {
        display: flex;
        flex-direction: column;

    }

    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }

   /* Cart Page */

   #cart-add {
    flex-direction: column;
   
   }
      
}




